.el-tag {
  margin-top: 3px;
}

.el-tag {
  color: rgb(39, 39, 39) !important;
  background-color: rgb(238, 238, 238) !important;
}

.centeredRadio {
  padding-top: 12px;
}

.buttonDefaultSystem {
  color:#705d1b !important;
}

.buttonDefaultSystem:hover {
  background-color: #cc9f2fb1 !important;
  color: #ffffff !important;
  border-color: #877852b1 !important;
}

.buttonDefaultSystemSecundario {
  color:#705d1b !important;
}

.buttonDefaultSystemSecundario:hover {
  background-color: #fffcf4b1 !important;
  color: #878787 !important;
  border-color: #72716fb1 !important;
}