.el-tag {
  margin-top: 3px;
}

.el-row {
  margin-top: 1%;
}

.el-tag {
  color: rgb(39, 39, 39) !important;
  background-color: rgb(238, 238, 238) !important;
}

.centeredRadio {
  padding-top: 12px;
}

.buttonDefaultSystem {
  color:#576880 !important;
}

.buttonDefaultSystem:hover {
  background-color: rgba(119, 172, 252, 0.694) !important;
  color: #ffffff !important;
  border-color: #ffffffb1 !important;
}

.buttonDefaultSystemSecundario {
  color:#576880 !important;
}

.buttonDefaultSystemSecundario:hover {
  background-color: rgba(172, 178, 187, 0.694) !important;
  color: #ffffff !important;
  border-color: #ffffffb1 !important;
}

.alertText {
  color: red;
}

.full-width.input {
  width: 100%;
}

.el-tag {
  background-color: rgb(117, 168, 245) !important;
  color: white !important;
}

.el-tag.el-tag--info .el-tag__close {
  color: rgb(255, 255, 255) !important;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.center {
  display: flex;
  justify-content: center;
}

.msg {
  position: absolute;
  z-index: 9999 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;   
  margin-top: 3%; 
}

.component {

  padding: 3% 5% 5% 5%;
  width: 65%;
  border-radius: 10px;
  background-color: #cce4ff;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin-top: 2%;
    font-size: xx-large;
  }

  .body {
    border-radius: 5px;
  }

  .table {
    margin-top: 20px;
    width: 100%;
  }
}